.intro {
  padding: 50px 35px;

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  &__link {
    outline: 0;
    border: 0;
    font-size: 18px;
    text-decoration: none;
    color: $color-black;

    &:hover {
      color: red;
    }
  }

  @include desktop {
    padding: 50px 100px;
  }
}