.main-slider {
  position: relative;

  &__item {
    height: 631px;
    color: $color-white;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;

    @include mobile {
      height: 320px;
    }
  }

  &__wrapp-item {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__title {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;

    @include mobile {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;

    @include mobile {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__descr {
    max-width: 520px;
  }
}

.main-form {
  border: 2px solid #F5F7FA;
  margin-top: -2px;
  margin-left: 458px;
  padding: 25px;
  width: 292px;
  height: 390px;

  &__title {
    margin-bottom: 19px;
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $color-white;

    @include laptop {
      color: $color-black;
    }
  }

  &__submit {
    display: block;
    padding-bottom: 4px;
    width: 139px;
    height: 40px;
    font-family: $font-montserrat;
    font-weight: 500;
    font-size: 15px;
    color: $color-white;
    background: $color-fire-brick;
    transition: background 0.3s;

    @include desktop {
      &:hover {
        background: $color-percian-red;
      }
    }
  }

  @media (max-width: 1650px) {
    margin-left: 279px;
  }

  @include desktop {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
  }

  @include laptop {
    margin: 20px auto;
    width: 350px;
  }

  @include mobile {
    width: 100%;
  }
}

.catalog {
  background: $color-solitude;

  &__container {
    display: flex;
    justify-content: space-between;

    @media (min-width: 1651px) {
      width: 1643px;
    }

    @include laptop {
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: block;
    padding: 55px 15px;
    padding-bottom: 42px;
    width: 278px;
    text-align: center;
    color: $color-black;
    transition: box-shadow 0.3s, background 0.3s;

    @include desktop {
      &:hover {
        box-shadow: 0px 0px 24px rgba(72, 105, 114, 0.1);
        background: $color-white;
      }
    }

    @include laptop {
      padding: 15px;
      width: 50%;
      text-align: center;
    }

    @include mobile {
      padding: 10px 5px;
    }
  }

  &__img-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    height: 120px;

    img {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__name-item {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    @include mobile {
      font-size: 12px;
      line-height: 14px;
    }
  }

  @include laptop {
    padding: 20px 0;
  }
}

.partners {
  padding: 49px 0;
  padding-bottom: 75px;

  &__title {
    margin: 0;
    margin-bottom: 52px;
    padding-right: 56px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #36454D;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @include laptop {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;

    img {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      filter: grayscale(100%);
      transition: filter 0.3s;

      @include laptop {
        filter: grayscale(0);
      }
    }

    @include desktop {
      &:hover {
        img {
          filter: grayscale(0);
        }
      }
    }

    @include laptop {
      padding: 10px;
      width: 50%;
      height: 85px;
      text-align: center;
    }
  }

  @include mobile {
    padding: 50px 0;
  }
}