.menu
	.container.menu__container
		ul.menu__list
			li
				a.menu__item(href="#")
					img.menu__icon-item(src="images/icons/router.svg" alt="")
					.menu__text-item Интернет и WiFi
			li
				a.menu__item(href="#")
					img.menu__icon-item(src="images/icons/cctv.svg" alt="")
					.menu__text-item Безопасность и видеонаблюдение
				ul.menu__dropdown
					li
						a(href="#") Монтаж систем видеонаблюдения
					li
						a(href="#") Обслуживание существующих систем видеонаблюдения
					li
						a(href="#") Диагностика неисправностей
					li
						a(href="#") Модернизация существующей системы видеонаблюдения
					li
						a(href="#") Видеонаблюдение дома
					li
						a(href="#") Видеонаблюдение в офисе
					li
						a(href="#") Разработать решение 
			li
				a.menu__item(href="#")
					img.menu__icon-item(src="images/icons/computer.svg" alt="")
					.menu__text-item Обслуживание компьютерной техники
			li
				a.menu__item(href="#")
					img.menu__icon-item(src="images/icons/support.svg" alt="")
					.menu__text-item It аутсорсинг

		button.menu__button(type="button")
			i.menu__burger.fas.fa-bars
			i.menu__close.fas.fa-times.is-hidden
		
		.menu__mobile
			ul.menu__list-mobile
				li
					a.menu__button-dropdown(href="#") 
						span Каталог
						i.fas.fa-arrow-down
						i.fas.fa-arrow-up.is-hidden
					ul
						li
							a(href="#") Интернет и WiFi
						li
							a(href="#") Безопасность и видеонаблюдение
						li
							a(href="#") Обслуживание компьютерной техники
						li
							a(href="#") It аутсорсинг
				li
					a(href="#") О компании
				li
					a(href="#") Новости
				li
					a(href="#") Условия
				li
					a(href="#") Акции
				li
					a(href="#") Отзывы
				li
					a(href="#") Контакты