nav.nav
	.container
		ul.nav__list
			li
				a.nav__item(href="#") О компании
			li
				a.nav__item(href="#") Новости
			li
				a.nav__item(href="#") Условия
			li
				a.nav__item(href="#") Акции
			li
				a.nav__item(href="#") Отзывы
			li
				a.nav__item(href="#") Контакты