.popup.is-hidden#get-call
	.popup__wrapp
		button.popup__close.js-popup-close(type="button")
		.popup__title Закажите обратный звонок
		form(action="")
			.form-group
				input.form-control.form-control--popup(type="text" placeholder="Имя")
			.form-group
				input.form-control.form-control--popup(type="text" placeholder="Телефон")
			.form-group.form-group--submit
				button.main-form__submit(type="submit") Отправить