extends pug/base

append vars
	//- ...

block content
	.intro
		.intro__title Содержание
		a(href="main.html").intro__link 1. Главная #[br]
		a(href="news.html").intro__link 2. Новости #[br]
		a(href="review.html").intro__link 3. Отзывы #[br]
		a(href="price.html").intro__link 4. Прайс #[br]
		a(href="contacts.html").intro__link 5. Контакты #[br]
		a(href="service.html").intro__link 6. Сервис #[br]
		a(href="product.html").intro__link 7. Карточка товара #[br]