// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-big-stone: #364149;
$color-fire-brick: #bf282d;
$color-percian-red: #d33c41;
$color-fire-engine-red: #ab1419;
$color-charcoal: #424242;
$color-solitude: #ebeff1;
$color-bismark: #486972;

// FONTS
$font-montserrat: 'Montserrat', sans-serif;
$font-avenir: 'AvenirNextCyrRegular';